.formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: whitesmoke;
  width: 30%;

}

.formulario input {
  width: 100%;
  margin-top: 26px;
  font-size: 16px;
  border-radius: 4px;
  padding: 8px;
  background-color: #931fff;
  border: none;
  color: white;
}

.formulario input::placeholder {
  color: rgb(184, 184, 184);
}

.formulario input[type="submit"] {
  width: auto;
  padding: 8px 16px;
  margin-bottom: 6px;
  background-color: var(--secundary-color);
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: .3s;
}

.formulario input[type="submit"]:hover {
  filter: brightness(.8);
}

.contacto {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: left;
  font-family: 'Segoe UI', sans-serif;
  background-color: #6e00d7;
}

.contacto h2 {
  font-size: 2em;
  color: #ffb230;
}

.contacto p {
  color: white;
  margin-bottom: 20px;
  font-weight: 600;
  /* más grueso que normal (400) */
  font-size: 17px;
}


.contacto-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  /* flex-wrap: nowrap; */
}

/* Cartas */
.card {
  background: #eaeaea;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 8px 8px 10px rgba(38, 3, 43, 0.1);
  box-sizing: border-box;
  width: auto;
  border: 1px solid #131213;
}
.card p{
  color: #131213;
}

.icon {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}

/* Formulario */
.formularioc {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;

}

.formularioc input,
.formularioc textarea {
  padding: 10px;
  border: 1px solid #6e00d7;
  border-radius: 8px;
  font-size: 1em;
  background-color: #fff;
  width: 290px;
}

.formularioc button {
  padding: 12px;
  background-color: #ffb230;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: relative; /* Necesario para el pseudo-elemento */
  overflow: hidden;   /* Oculta el efecto fuera del botón */
  transition: color 0.3s;
}

.formularioc button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #6e00d7;
  z-index: 0;
  transition: width 0.4s cubic-bezier(.4,0,.2,1);
}

.formularioc button:hover::before {
  width: 100%;
}

.formularioc button span {
  position: relative;
  z-index: 1;
}

.formularioc button:hover {
  color: #fff;
}

.formularioc span{
  color: white;
}

.titulo {
  color: #6e00d7;
  font-weight: 900;
}

/* Responsivo en móviles */
@media (max-width: 768px) {
  .contacto-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}
