body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #6e00d7;
    --secundary-color: #ffb230;
    --background-color: #f5f5f5;
}

main {
    display: flex;
    flex-direction: column;
    /* Asegura que los hijos estén uno debajo del otro */
    align-items: center;
}

.presentacion {
    height: 500px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #380363, #620faf, #380363);
}

.presentacion h1,
.presentacion h3 {
    color: rgb(235, 231, 238);
    margin: 0 0 20px;
    text-align: center;
}

.resaltar {
    color: rgb(12, 11, 12);
    font-weight: 600;
    font-size: 150%;
}

.btn-presentacion {
    display: flex;
    cursor: pointer;
    padding: 10px;
    background-color: rgb(222, 192, 252);
    color: rgb(14, 1, 20);
    font-weight: bold;
    border: 1px solid rebeccapurple;
    border-radius: 4px;
    transition: .3s;
    font-size: 18px;
}

.btn-presentacion:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid #6e00d7;
}

.features,
.pasos,
.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.features {
    padding-bottom: 20px;
}

.card {
    background-color: #f9fbfd;
    border-radius: 10px;
    padding: 30px 20px;
    width: 260px;
    height: 295px;
    box-sizing: border-box;
    transition: .3s;
    filter: drop-shadow(4px 4px 4px rgb(0, 0, 0, .1));
    cursor: default;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.iconn {
    background-color: #fdf9e1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 auto 15px;
    /* centraaaa */
}

.iconn img {
    width: 30px;
    height: 30px;
}

.card h3,
.paso h3 {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
}

.card p,
.paso p {
    margin: 0;
    color: #555;
    font-size: 18px;
}

.titulo {
    text-align: center;
    margin: 30px 0 40px;
    font-size: 30px;
    color: #6e00d7;
}

/* como empezamos???? */
.empezar {
    padding: 50px 20px;
    background-color: #f8f9fa;
    text-align: center;
}

.empezar h2 {
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: bold;
}

.paso {
    background: white;
    border-radius: 10px;
    padding: 25px;
    width: 290px;
    box-shadow: 5px 9px 9px rgba(0, 0, 0, 0.05);
    text-align: left;
    transition: transform 0.2s ease;
}

.paso:hover {
    transform: translateY(-5px);
}

.numero {
    background-color: #6e00d7;
    color: #f5f5f5;
    font-weight: bold;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.boton {
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid #6e00d7;
    color: #6e00d7;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    margin-top: 15px;
}

.boton:hover {
    background-color: #5a2ca0;
    color: white;
}

.contenedor-tarjetas {
    gap: 23px;
    align-items: flex-start;
    margin-bottom: 40px;
}

.tarjeta {
    position: relative;
    width: 280px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.45);
    padding: 16px;
    transition: box-shadow 0.3s ease;
    overflow: hidden;
}

/* Imagen */
.tarjeta img {
    max-width: 100%;
    max-height: 230px;
    height: auto;
    width: auto;
    border-radius: 8px;
    z-index: 0;
}

/* Etiquetas */
.etiqueta {
    position: absolute;
    top: 10px;
    left: 9px;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 14px;
    color: white;
}

.gratis {
    background-color: #7e22ce;
}

.donacion {
    background-color: #3b82f6;
}

.intercambio {
    background-color: #10b981;
}

/* Botón Favorito */
.btn-favorito {
    position: absolute;
    top: 10px;
    right: 9px;
    border: none;
    background-color: #7e22ce;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 15px;
    transition: color 0.3s ease;
}

.btn-favorito:hover {
    color: red;
}

/* .btn-favorito.fav {
    color: red;
  } */

/* Contenido de la tarjeta */
.contenido h3 {
    margin: 32px 0 8px;
    color: #5a2ca0;
    font-size: 20px;
}

.ubicacion {
    font-size: 15px;
    margin: 5px 0;
    color: #666;
}

.descripcion-corta {
    font-size: 18px;
    color: #333;
}

.descripcion-completa {
    max-height: 0;
    overflow: hidden;
    font-size: 18px;
    color: #444;
    transition: max-height 0.4s;
    margin-top: 10px;
}

/* Mostrar descripción expandida al hacer clic */
.tarjeta.expandida .descripcion-completa {
    max-height: 500px;
    padding: 10px 0;
}

/* Estrellas ys noo*/
.estrellas {
    margin: 10px 0;
    color: #facc15;
}

/* Botón de ver detalles */
.btn-detalles,
.btn-ver-mas {
    background-color: #7e22ce;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn-detalles:hover,
.btn-ver-mas:hover {
    background-color: #5b13a2;
}

.btn-ver-mas {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.btn-ver-mas:hover {
    color: #ac88ad;
}

/* Botón centrado */
.boton-centro {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.detalles-extra {
    margin-top: 10px;
    line-height: 29px;
}

/* Confiabilidad */
.confiable {
    background-color: #22c55e;
    color: white;
    padding: 5px 6px;
    border-radius: 10px;
    font-size: 17px;
}

/* Bloque para sesión */
.bloque-sesion {
    background-color: #ded1e4;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.bloque-sesion .boton {
    background-color: #7e22ce;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    display: inline-block;
    margin-top: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.bloque-sesion .boton:hover {
    background-color: #5b13a2;
}

/* Sistema de reputacion */
.Info-reputacion {
    display: grid;
    margin-bottom: 40px;
    box-shadow: 0 4px 12px rgba(245, 229, 14, 0.863);
    border-radius: 15px;

}

.reput-info {
    display: flex;
    padding: 20px;
    background: #ac88ad;
    border-radius: 15px;
}

.imagen-reputacion img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
}