<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circula || Explorar</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/explorar.css">
</head>

<body>
    <header>
        <img src="../img/global-img/logo.png" alt="" class="logo">
        <nav class="menu">
            <a href="/index.html"> <img class="icon" src="../img/icon-menu/apartment.png" alt="">
                Inicio</a>
            <a href="view/pages/explorar.html"><img class="icon" src="../img/icon-menu/search.png" alt="">Explorar</a>
            <a href="donar.html"> <img class="icon" src="../img/icon-menu/recycle.png" alt="">Inventario</a>
            <a href="contacto.html"> <img class="icon" src="../img/icon-menu/charlando.png" alt=""> Contacto</a>
        </nav>
        <div class="login">
            <a href="login.html" class="btn-login">Iniciar Sesión</a>
            <a href="view/pages/registrar.html" class="btn-registrarse">Registrarse</a>
        </div>
    </header>
    <main>

   
    </main>
    <footer>

    </footer>
</body>

</html>